<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>home page</h1>
    <p><%= user.name%></p>
    <p><%= user.email%></p>
    <a href="/user/signOut">Sign out</a>
    <form action="/user/post/create" method="post">
        <textarea name="post"  cols="30" rows="10"></textarea>
        <input type="submit" value="Post It">
    </form>
    <ul>
    <% for(post of locals.posts){%>
            <%- include('_post') -%>   
    <% }%>
    </ul>
    <div id="friends">
        <h4>Friends</h4>
        <ol>
        <% for( friend of friends){%> 
            <li>
                <a href="/user/profile/<%=friend.id%>"><h4><%=friend.name%></h4></a>
            </li>    
        <%}%>
        </ol>
    </div>
</body>
</html>