<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
 <% if(user.id==profile_user.id){%> 
        <form action="/user/update/<%=profile_user.id %>" method="POST">
            <input type="text" name="name" placeholder="your name" value="<%= profile_user.name %>">
            <input type="submit" name="submit" value ="change name">
        </form>
    <%}else{%>
        <p>
            <%= profile_user.name %>
        </p>
        <p>
            <%= profile_user.email %>
        </p>
    <% } %>
<a href="/">
    Home

</a>
</body>

</html>